@model RecipesProject.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div> <!-- Changed to display all errors -->
            <input type="hidden" asp-for="Userid" />

            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group" hidden>
                <label asp-for="Roleid" class="control-label"></label>
                <select  asp-for="Roleid" class="form-control" asp-items="ViewBag.Roles"></select> <!-- Changed to ViewBag.Roles -->
                <span asp-validation-for="Roleid" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Imagepath" class="control-label"></label>
                <input asp-for="Imagepath" class="form-control" />
                <span asp-validation-for="Imagepath" class="text-danger"></span>
            </div>

            <div class="form-group" hidden>
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancel</a> <!-- Added a cancel button -->
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
