@model IEnumerable<User>

@{
    Layout = "~/Views/Shared/_layout1.cshtml";
}

<head>
    <style>
        .my-custom-margin-top {
            margin-top: 30px; /* Adjust this value according to your needs */
        }

        .card {
            height: 450px; /* Set a fixed height for the cards */
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .card-body {
            flex: 1; /* Allow the card body to grow and take up available space */
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
        }

        .card img {
            border-radius: 50%;
            width: 200px;
            height: 200px;
            object-fit: cover;
        }

        .card-title,
        .card-text {
            margin-bottom: 10px; /* Adjust the value as needed */
        }
    </style>
</head>

<section class="hero-wrap hero-wrap-2" style="background-image: url(/HomeAssets/images/bg_5.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate text-center mb-5">
                <h1 class="mb-2 bread">Master Chef</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Chef <i class="fa fa-chevron-right"></i></span></p>
            </div>
        </div>
    </div>
</section>

<div class="row my-custom-margin-top">
    @foreach (var chef in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <img src="@Url.Content("~/Images/" + chef.Imagepath)" asp-append-version="true" />
                    <h5 class="card-title mt-3">@chef.Username</h5>
                    <p class="card-text">@chef.Description</p>
                    <a href="@Url.Action("ChefRecipes", "Home", new { chefid = chef.Userid })" class="btn btn-primary">See Recipes</a>
                </div>
            </div>
        </div>
    }
</div>


