@model IEnumerable<Recipe>
@* @model IEnumerable<Trips.Models.Trip> *@

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_layout1.cshtml";
}

<style>
    /* Add margin between sections */
    .hero-wrap {
        margin-bottom: 50px; /* Adjust the value as needed */
    }

    /* Add padding and margin for cards */
    .card {
        margin-bottom: 30px; /* Adjust the value as needed */
        margin-left: 15px; /* Adjust the value as needed */
        margin-right: 15px; /* Adjust the value as needed */
        height: 450px; /* Set a fixed height for the cards */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

        .card img {
            height: 200px; /* Set a fixed height for the image */
            object-fit: cover;
        }

    .card-body {
        flex: 1; /* Allow the card body to grow and take up available space */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-title,
    .card-text {
        margin-bottom: 10px; /* Adjust the value as needed */
    }

    .form-group {
        margin-left: 15px; /* Adjust the value as needed */
        margin-right: 15px; /* Adjust the value as needed */
    }
</style>

<section class="hero-wrap hero-wrap-2 mt-5" style="background-image: url('images/bg_5.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate text-center mb-5">
                <h1 class="mb-2 bread">Master Chef</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Chef <i class="fa fa-chevron-right"></i></span></p>
            </div>
        </div>
    </div>
</section>

<div class="row mt-5">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="~/Images/@item.Imagepath" class="card-img-top" alt="@item.Recipename">
                <div class="card-body">
                    <h5 class="card-title">@item.Recipename</h5>
                    <p class="card-text">@item.Description</p>
                    <p class="card-text">Price: @item.Price</p>
                    <a href="/Home/BuyRecipe?cost=@item.Price&recipeId=@item.Recipeid" class="btn btn-primary custom-btn">Buy Recipe</a>
                </div>
            </div>
        </div>
    }
</div>
